<h1>Clientes</h1>

<% if @customers.empty? %>
  <h1>Não há clientes cadastrados</h1>
<% end %>

<%= @customers.each do |c| %>
  <h3><%= link_to c.name, customer_path(id: c.id)%></h3>
<% end %>

<%= link_to 'Registrar novo cliente', new_customer_path %>
<%= link_to 'Voltar', root_path %>